*       text=auto
*.cc    text
*.h     text
*.txt   text
*.cmake text
*.html  text
*.css   text
*.js    text
*.json  text
*.svg   text
*.md    text

*.png   binary
*.jpg   binary

# 3rd party libraries
ui/web/js/deps/*.js                 linguist-vendored
ui/web/css/deps/*.css               linguist-vendored
